.add-new {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4.2rem;
}

.add-new h2 {
  color: rgb(147, 145, 145);
  margin: 0.5rem;
}

.add-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 20%;
  border: 1px solid lightgrey;
}

.booktitle {
  width: 40%;
}

.add-btn {
  width: 10%;
  padding: 0.5rem;
  color: #fff;
  background-color: rgba(4, 125, 247, 0.915);
  border: none;
  cursor: pointer;
}

.add-btn:hover {
  background-color: rgba(3, 97, 192, 0.915);
}
