@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@300;400;500&display=swap');

.book-list {
  width: 90%;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 70vh;
  overflow-y: auto;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book-bord {
  width: 90%;
  margin: 0.5rem;
  padding: 1rem;
  padding-right: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
  background-color: #fff;
  border-radius: 0.2rem;
}

.category {
  width: auto;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.booktitl {
  width: auto;
  height: 1.813rem;
  margin: 0.188rem 2.125rem 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.author {
  width: auto;
  height: 1.188rem;
  margin: 0.188rem 2.125rem 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.Line2 {
  width: 0.125rem;
  height: 1.5rem;
  margin: 0 0.5rem 0 1rem;
  border: solid 1px #e8e8e8;
}

.btn-grop {
  display: flex;
  margin: 1rem 2.125rem 0 0;
  align-items: center;
  width: 20%;
}

.btn {
  width: 3.375rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: rgba(4, 125, 247, 0.915);
}
