.App {
  text-align: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: left;
  padding: 2rem;
  background-color: #fff;
}

.nav h2 {
  color: rgba(0, 128, 255, 0.915);
}

.nav ul {
  list-style: none;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.link {
  margin-left: 1rem;
}

.navLink {
  text-decoration: none;
  color: black;
}

.navLink:hover {
  color: rgba(0, 128, 255, 0.915);
}
